---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: policybindings.policy.turbonomic.io
spec:
  group: policy.turbonomic.io
  names:
    kind: PolicyBinding
    listKind: PolicyBindingList
    plural: policybindings
    singular: policybinding
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PolicyBinding is the Schema for the policybindings API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PolicyBindingSpec defines the desired state of PolicyBinding
            properties:
              policyRef:
                description: The reference to a policy
                properties:
                  kind:
                    description: The kind of the policy referent
                    enum:
                    - SLOHorizontalScale
                    type: string
                  name:
                    description: The name of the policy referent
                    type: string
                required:
                - kind
                - name
                type: object
              targets:
                description: The target objects that the policy is applied to
                items:
                  properties:
                    apiVersion:
                      description: The API version of the target referent
                      type: string
                    kind:
                      description: The Kind of the target referent
                      type: string
                    name:
                      description: The Name of the target referent
                      type: string
                  required:
                  - kind
                  - name
                  type: object
                minItems: 1
                type: array
            required:
            - policyRef
            - targets
            type: object
          status:
            description: PolicyBindingStatus defines the observed state of PolicyBinding
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
